---
http_interactions:
- request:
    method: post
    uri: https://<Host>/admin/api/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"  mutation productCreate($input: ProductInput!) {\n    productCreate(input:
        $input) {\n      product {\n        id\n      }\n      userErrors {\n        field\n        message\n      }\n    }\n  }\n","variables":{"input":{"title":"Shopify::DefaultVariant
        Test Product Without Variants"}}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<X-Shopify-Access-Token>"
      X-Graphql-Cost-Include-Fields:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '52'
      X-Sorting-Hat-Shopid:
      - '10671028'
      X-Shopid:
      - '10671028'
      X-Shardid:
      - '52'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '68005003265'
      X-Stats-Apipermissionid:
      - '395760533557'
      X-Shopify-Api-Version:
      - 2023-04
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east4,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productCreate":{"product":{"id":"gid://shopify/Product/7352958746677"},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0},"fields":[{"path":["productCreate","product","id"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productCreate","product"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["productCreate","userErrors","field"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productCreate","userErrors","message"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productCreate","userErrors"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["productCreate"],"definedCost":10,"requestedTotalCost":10,"requestedChildrenCost":0}]}}}'
  recorded_at: Sat, 03 Feb 2024 21:02:26 GMT
- request:
    method: post
    uri: https://<Host>/admin/api/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"  mutation productCreate($input: ProductInput!) {\n    productCreate(input:
        $input) {\n      product {\n        id\n      }\n      userErrors {\n        field\n        message\n      }\n    }\n  }\n","variables":{"input":{"title":"Shopify::DefaultVariant
        Test Product With Variants","options":["Color"],"variants":[{"title":"Variant
        1","options":["Red"]}]}}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<X-Shopify-Access-Token>"
      X-Graphql-Cost-Include-Fields:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '52'
      X-Sorting-Hat-Shopid:
      - '10671028'
      X-Shopid:
      - '10671028'
      X-Shardid:
      - '52'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '68005003265'
      X-Stats-Apipermissionid:
      - '395760533557'
      X-Shopify-Api-Version:
      - 2023-04
      Content-Language:
      - en
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/api/usage/versioning#deprecation-practices
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east4,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productCreate":{"product":{"id":"gid://shopify/Product/7352958779445"},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0},"fields":[{"path":["productCreate","product","id"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productCreate","product"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["productCreate","userErrors","field"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productCreate","userErrors","message"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productCreate","userErrors"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["productCreate"],"definedCost":10,"requestedTotalCost":10,"requestedChildrenCost":0}]}}}'
  recorded_at: Sat, 03 Feb 2024 21:02:26 GMT
- request:
    method: post
    uri: https://<Host>/admin/api/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"            query {\n              product(id: \"gid://shopify/Product/7352958746677\")
        {\n                totalVariants\n                variants(first: 10) {\n                  edges
        {\n                    node {\n                      title\n                    }\n                  }\n                }\n              }\n            }\n"}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<X-Shopify-Access-Token>"
      X-Graphql-Cost-Include-Fields:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '52'
      X-Sorting-Hat-Shopid:
      - '10671028'
      X-Shopid:
      - '10671028'
      X-Shardid:
      - '52'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '68005003265'
      X-Stats-Apipermissionid:
      - '395760533557'
      X-Shopify-Api-Version:
      - 2023-04
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east4,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"product":{"totalVariants":1,"variants":{"edges":[{"node":{"title":"Default
        Title"}}]}}},"extensions":{"cost":{"requestedQueryCost":7,"actualQueryCost":4,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1996,"restoreRate":100.0},"fields":[{"path":["product","totalVariants"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["product","variants","edges","node","title"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["product","variants","edges","node"],"definedCost":1,"requestedTotalCost":1,"requestedChildrenCost":0},{"path":["product","variants","edges"],"definedCost":0,"requestedTotalCost":1,"requestedChildrenCost":1},{"path":["product","variants"],"definedCost":null,"requestedTotalCost":6,"requestedChildrenCost":1},{"path":["product"],"definedCost":1,"requestedTotalCost":7,"requestedChildrenCost":6}]}}}'
  recorded_at: Sat, 03 Feb 2024 21:02:26 GMT
- request:
    method: post
    uri: https://<Host>/admin/api/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"  mutation productDelete($input: ProductDeleteInput!) {\n    productDelete(input:
        $input) {\n      userErrors {\n        field\n        message\n      }\n    }\n  }\n","variables":{"input":{"id":"gid://shopify/Product/7352958746677"}}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<X-Shopify-Access-Token>"
      X-Graphql-Cost-Include-Fields:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '52'
      X-Sorting-Hat-Shopid:
      - '10671028'
      X-Shopid:
      - '10671028'
      X-Shardid:
      - '52'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '68005003265'
      X-Stats-Apipermissionid:
      - '395760533557'
      X-Shopify-Api-Version:
      - 2023-04
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east4,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productDelete":{"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1990,"restoreRate":100.0},"fields":[{"path":["productDelete","userErrors","field"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productDelete","userErrors","message"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":null},{"path":["productDelete","userErrors"],"definedCost":0,"requestedTotalCost":0,"requestedChildrenCost":0},{"path":["productDelete"],"definedCost":10,"requestedTotalCost":10,"requestedChildrenCost":0}]}}}'
  recorded_at: Sat, 03 Feb 2024 21:02:27 GMT
[...]
